.header {
  width: 100%;
  background: #1b212e;
  .logo {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #172132;
    }
  }
}

@media screen and (min-width: 900px) {
  .header {
    .logo {
      display: grid;
      place-items: center;
      img {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0;
        z-index: 20;
      }
    }
  }
}

@media screen and (min-width: 1076px) {
  .header {
    .logo {
      place-items: initial;
      img {
        width: 160px;
        height: 160px;
        top: 1.1px;
        left: 200px;
      }
    }
  }
}
