.wrapper {
  background: #1b212e;
  padding: 2em;

  h1 {
    border-bottom: white 2px solid;
    padding: 0.3em;
    margin-bottom: 1em;
    text-align: center;
  }

  img {
    width: 100%;
  }
  width: 70%;
  margin: 1em auto;
}
