.wrapper {
  background: #172132;
  color: rgb(153, 147, 147);
  width: 80%;
  margin: 0.2em auto;
  padding: 1em;

  .title {
    text-align: center;
    margin: 1em;
  }

  p {
    margin-bottom: 0.8em;
    padding: 0.8em;
  }
}
