.wrapper {
  margin-top: 4.23em;
  padding: 1em;
  background: #172132;
  .title {
    display: inline-block;
    color: rgb(153, 147, 147);
    text-align: center;
    margin-bottom: 3em;
    border-bottom: 1px solid white;
    padding-bottom: 0.5em;
  }
}
